
@import "base/variables";
@import "base/normalize";
@import "base/syntax";
@import "base/general";
@import "base/helpers";

@import "pages/home-blog-projects";
@import "pages/page";
@import "pages/post";
@import "pages/tags";

@import "components/author";
@import "components/disqus";
@import "components/footer";
@import "components/header";
@import "components/nav";
@import "components/others";
@import "components/pagination";
@import "components/related";
@import "components/share";
@import "components/side-by-side";
@import "components/social-links";
@import "components/spoiler";

hr.styled {
  border-top: 1px solid #ededed;
  padding: 40px 0;
  margin: 40px 0 0;
  font-size: 1.3rem;
  color: #aaa;
  font-weight: 300;
  text-align: center;
  position: relative;
}
hr.styled:before {
  display: block;
  content: " ";
  width: 7px;
  height: 7px;
  border: #ededed 1px solid;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  box-shadow: #FFF 0 0 0 5px;
  border-radius: 3px;
}
hr{
  background: rgba(0,0,0,0) !important;
}
